/*------------------------------------*\
    #SECTION-MAIN-LAYOUT
\*------------------------------------*/

@import 'config';

/* ==========================================================================
   Base-settings: 
   ========================================================================== */

body {
    color: $app-text-color;
    font-size: 1em;
}

/* ==========================================================================
   Imports: 
   ========================================================================== */

@import 'widget-searchform';
