/*------------------------------------*\
    #SECTION-WIDGET-INPUT
\*------------------------------------*/

@import 'widget-config';

/* ==========================================================================
   Base-settings: 
   ========================================================================== */

.widget-input {
    @include widget-base;
    width: 12em;
    &.focus {
        background: #fff;
    }
}

/*
 * HTML input element
 */

.widget-input__input {
    background-color: transparent;
    border: 0;
    padding: $widget-padding;
    width: 100%;
}
