/*------------------------------------*\
    #SECTION-WIDGET-INPUT
\*------------------------------------*/

@import 'widget-config';

/* ==========================================================================
   Base-settings: 
   ========================================================================== */

.widget-input {
    @include widget-base;
    width: 12em;
}

/*
 * modifier
 */

.widget-input--focus {
    @include widget--focus;
}

/*
 * HTML input element
 */

.widget-input__input {
    background-color: transparent;
    border: 0;
    padding: $widget-padding;
    width: 100%;
}
.widget-input__input:focus {
    /* chrome issue */
    outline: none;
}
