/*------------------------------------*\
    #SECTION-SEARCH-FORM
\*------------------------------------*/

@import 'widget-config';

/* ==========================================================================
   Visual container: to create the form outline
   ========================================================================== */

.widget-container {
    @include widget-base;
    display: block;
    margin: 0 auto;
    max-width: 40em;
    button[type=submit] {
        @include widget-base;
        background: $widget-base-color;
        color: $widget-select__dropdown-bgcolor;
        padding: .2em .6em 0 .6em;
    }
    > * {
        padding: .6em;
    }
}

/*
 * Hide HTML select 
 */

.widget-container select {
    display: none;
}
@import 'widget-input';
@import 'widget-select';
